<div class="form">
    <h1>Orders</h1>
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Line 1</th>
          <th>Line 2</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders$ | async">
          <td>{{order.shipping.line1}}</td>
          <td>{{order.shipping.line2}}</td>
          <td>{{ order.datePlaced | date }}</td>
          <td><a [routerLink]="['/order-details/',order.$key]" class="btn bt-default">Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>