<div class="card">
    <div class="card-body" *ngIf="order$ | async as order">
        <h5 class="card-title">Order Summary</h5>
        <p class="card-text">Ordered by: {{ order.shipping.name }}</p>
        <p class="card-text">Order Date: {{ order.datePlaced | date }}</p>
        
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Total Price</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of order.items">
                    <td>{{item.product.title}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.product.price | currency:'USD':true}}</td>
                    <td>{{item.totalPrice | currency:'USD':true}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>
</div>